@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-image: url(image/background.jpg);
    overflow: hidden;
}

.container {
    max-width: 500px;
    padding: 0 5px;
    margin: 100px auto;
}

.wrapper {
    width: 100%;
    background: rgb(202, 71, 161);
    border-radius: 5px;
}

.wrapper .title {
    height: 90px;
    background: rgb(1, 1, 1);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wrapper form {
    padding: 40px 35px 30px 30px;
}

.wrapper form .row {
    height: 50px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightblue;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i{
    position: absolute;
    width: 50px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #000100;
    display: flex;
    text-align: center;
    justify-content: center;
}

.wrapper form .psw {
    margin: -9px 0 15px;
}

.wrapper form .psw a {
    color: #faf7f6;
    font-size: 15px;
    text-decoration: none;
}

.wrapper form .button input {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    padding-left: 0px;
    background: #081fed;
    cursor: pointer;
}

form .button input:hover {
    background: red;
}

.wrapper form .signup-link a {
    color: #fff;
    text-decoration: none;
}